#sidebar {
    margin-left:560px;
    height:100%;
    width:240px;
    background-color:black;
    position:absolute;
}
#list {margin-left:25px;
    color: rgba(255,255,255,0.8);
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-weight: bold;
    list-style-type:none;
    padding-bottom: 75px;
}
#list_sub {margin-left:25px;
    color: rgba(255,255,255,0.8);
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    list-style-type: circle;
    padding-bottom: 5px;
    font-weight: normal;
}


    
    